.slide {
    display: flex;
    justify-content: center;
    align-items: center;

    h3{
        margin-top: $medium;
        font-weight: 300;
        text-transform: uppercase;
        font-size: $mediumPlus;
        color: $orange;
    }
    img{
        display: block;
        width: 100%;
    }

    .menu{
        display: flex;
        list-style: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 0 $vsmall 0;

        li{
            text-transform: uppercase;
            font-weight: 300;
            padding-right: $vsmall;
           a{
                color: $lightGrey;
                text-decoration: none;

                &:hover{
                    color: $orange;
                    font-weight: 700;
                }
           }
        }
    }
}
