html{
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: $small;
    background-color: $lightGrey;
}

.row{
    position: relative;
    overflow: hidden;
    .angle{
        position: absolute;
        bottom: -16px;
        width: 105%;
        height: 35px;
        transform: rotate(-1deg);
    }
}

.row::after{
    content: "";
    clear: both;
    display: block;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.dark{
    background-color: black;
    color: $lightGrey;
}

.light{
    background-color: $lightGrey;
    color: $darkBlue;
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}