//Colors
$lightBlue: #42a0d9;
$darkBlue: #35495b;
$lightGrey: #eef2f3;
$orange: #ea5746;

//Sizes
// $s-size: 1.2rem;
// $m-size: 1.6rem;
// $l-size: 3.2rem;
// $xl-size: 4.8rem;
// $desktop-breakpoint: 45rem;

//Sizes PX
$small: 15px;
$medium: 20px;
$mediumPlus: 25px;
$big: 30px;
$giant: 40px;