//Colors
$lightBlue: #42a0d9;
$darkBlue: #35495b;
$lightGrey: #eef2f3;
$mediumGrey:#c9c9c9;
$orange: #ea5746;

//Sizes PX
$vsmall: 10px;
$small: 15px;
$medium: 20px;
$mediumPlus: 25px;
$big: 30px;
$giant: 40px;